.goals {
	margin-top: 14px;
}
.goals_header {
	display: flex;
}
.goals_header h2 {
	font-family: Kanit;
font-style: normal;
font-weight: 600;
font-size: 20.1118px;
line-height: 25px;
color: #404040;
}
.goals_header img{
  margin-left: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.goals_header img:hover {
	transform: scale(1.09);
}
.goals_containers {
	display: flex;
}
.goals_container {
	width: 157.93px;
height: 168.74px;
box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
border-radius: 28px;
margin-right: 14px;
padding: 13px 25px;
margin-top: 16px;
cursor: pointer;
}
.goals_container p{
	font-family: Kanit;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #AEAEAE;
margin-top: 5px;
}
.goals_container h3 {
	font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 23.9789px;
line-height: 29px;
color: #696969;
}
.goals_container h4{
	font-family: Kanit;
font-style: normal;
font-weight: normal;
font-size: 20.1118px;
line-height: 25px;
color: #404040;
margin-top: 6px;
}
.goals_container img {
	margin-top: 35px;
	height: 25px;
	width: 25px;
}
.goals_containers img {
	cursor: pointer;
}